# Ignorar la carpeta de dependencias
node_modules/

# Ignorar archivos de entorno (variables de configuración)
.env

# Ignorar logs y caché
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar archivos del editor
.vscode/
.idea/
.DS_Store

# Ignorar archivos generados por el sistema
Thumbs.db